body {
    font-family: Montserrat;
    margin: 0;
    background-color: white;
    
}


/*header {
    display:

}*/

.grid-containerhome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.item {
    padding: 0 30px 0 30px;
}


.grid-containermentor {

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 35px;
    gap: 15px;
}

.testimonials {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 35px;
}

.mentoritem {
    padding: 35px;

}

.mentoritem h2 {

    font-size: 50px;
    text-align: center;
}


.grid-containercontribs {

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 35px;

}


.grid-containerabout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 35px;


}



button {
    border-radius: 50px;
    border: 1;
    padding: 8px; 
    font-family:Montserrat;
    font-weight: 500;   
    background-color: white;
    margin-top: 8px;
}

#ledgerbutton:hover {
    color: white;
    background-color: #3B64A4;
    border: 1 ;
    border-color: #3B64A4; 
    border-bottom:  #3B64A4;  
    border-right: #3B64A4;

}

#socitibutton:hover {

    color: white;
    border-color: #C95B41;
    background-color:#C95B41 ;
    border: 1 ;   
}

#atsbutton:hover {

    color: white;
    border-color:#FADDB8;
    background-color:#FADDB8;
    border: 1;
   
}

.greeting {
    padding:35px

}


.greeting h3 {
    margin: 0;
    font-weight: 400;
    
}

.greeting p {
    font-size: 18px;
}
.greeting ul {
    list-style-type: none;
    text-decoration: underline;
    text-decoration-color: black;
}

li {
    color: black;
    text-decoration-color: black;
}

a {
    text-decoration-color: black;
}

.sectionheader {

    text-align: center;
    font-size: 100px;
}

.sectionheader h2 {
    font-weight: 500;
}

.casestudy {

    padding: 35px;
}

.mentorship {

    padding:35px
}

.mentorship h2 {

}

.contributions {
    padding: 35px;
}
.about {
    padding: 35px;
}

footer {
    text-align: center;

}

footer ul {
    list-style-type: none;
}

@media (max-width:600px) {
    .sectionheader {
        font-size: 30px;
    }
}

